body {
    font-family: 'LT Binary Neue', sans-serif;
    background-color: #333;
    color: #f2f2f2;
    text-align: center;

  }
  
  header {
    background-color: #3e8e41;
    color: #f2f2f2;
    text-align: center;
    padding: 1em;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    float: left;
  }
  
  #selected {
    background-color: #333;
    border-radius: 1em;
  }

  nav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  section {
    overflow: auto;
  }

  nav a:hover {
    background-color: #555;
    border-radius: 1em;
  }
  
  main {
    padding: 1em;
  }
  
  
  .button {
    background-color: #555;
    color: #f2f2f2;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 0.3em;
  }
  
  .button:hover {
    background-color: #3e8e41;
  }
  
  footer {
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
  }
  
 a{
  text-decoration: none;
  color: #52ff5b;
 }

  h1 {
    text-align: left;
  }

  section  {
    text-align: left;
  }

  section li {
    margin-bottom: 10px;
    padding-left: 20px;
    list-style-type: square;
  }

  
  .card {
    width: 30%;
    height: 200px;
    border: 1px solid #3e8e41;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1em;
  }
  
  .card h3 {
    margin: 0;
    padding: 10px;
    background-color: #3e8e41;
    text-align: center;
  }
  
  .card p {
    margin: 0;
    padding: 20px;
    text-align: center;
  }

  #flashcard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .odd {
    text-align: right;
  }
  .odd ul {
    text-align: right;
    direction: rtl;
  }

  #books li {
    display: flex;
  }

  #books li img {
    width: 150px; 
    margin-right: 1em; 
  }

  #tools li {
    display: flex; 
  }

  #tools li img {
    width: 150px; 
    margin-right: 1em; 
  }

  .box{
    background-color: white;
    padding-top: 30px;
    padding: 30px;
  }

  #passHeader{
    margin-bottom: 40px;
    text-align: center;
    font-size: 26px;
    color: hsl(110, 100%, 31%);
    font-family: sans-serif;
  }

  input {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 6px;
    border: none;
    border: 2px solid #222222;
    outline: none;
    font-size: 22px;
    }

    #button {
      font-family: sans-serif;
      font-size: 15px;
      margin-top: 40px;
      border: 2px solid hsl(110, 100%, 31%);
      width: 155px;
      height: 50px;
      text-align: center;
      background-color: hsl(110, 100%, 31%);
      display: flex;
      color: rgb(255, 255, 255);
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin: 1% auto 0;
      border-radius: 5px;  
    }

  
    #button:hover {
      color: gray;
    }
    
   